<div class="embed-spotify-list">
    <iframe src="https://open.spotify.com/embed/album/{{ https://open.spotify.com/album/63JLhZdWWlSldDCyScZ3wB?si=ORhZFDNhR_KG-aSFGu3ncw }}" 
        frameborder="0" 
        allowtransparency="true" 
        allow="encrypted-media">
    </iframe>
</div>

.embed-spotify-list {
  width: 300px;
  height: 310px;
  position: relative;
  max-width: 100%;
 }

.embed-spotify-list iframe, .embed-spotify object, .embed-spotify embed {
  position: absolute;
  width: 300px;
  height: 310px;
  top: 0;
  left: 0;
  max-width: 100%;
 }
